
service: the-oh-app

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs4.3
  iamRoleStatements:
  - Effect: Allow
    Action:
      - dynamodb:DescribeTable
      - dynamodb:Query
      - dynamodb:Scan
      - dynamodb:GetItem
      - dynamodb:PutItem
      - dynamodb:UpdateItem
      - dynamodb:DeleteItem
    Resource: "arn:aws:dynamodb:us-east-1:*:*"

functions:
  index:
    handler: handler.index
    events:
      - http:
          path: /index
          method: get
  member-create:
    handler: members.create
    events:
      - http:
          path: /members
          method: post
  member-list:
    handler: members.list
    events:
      - http:
          path: /members
          method: get
  member-show:
    handler: members.show
    events:
      - http:
          path: /members/{id}
          method: get
  member-update:
    handler: members.update
    events:
      - http:
          path: /members/{id}
          method: put
  member-delete:
    handler: members.delete
    events:
      - http:
          path: /members/{id}
          method: delete
  device-create:
    handler: devices.create
    events:
      - http:
          path: /devices
          method: post
  device-list:
    handler: devices.list
    events:
      - http:
          path: /devices
          method: get
  device-show:
    handler: devices.show
    events:
      - http:
          path: /devices/{id}
          method: get
  device-update:
    handler: devices.update
    events:
      - http:
          path: /devices/{id}
          method: put
  device-delete:
    handler: devices.delete
    events:
      - http:
          path: /devices/{id}
          method: delete

resources:
  Resources:
    MemberTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: members
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
    DeviceTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: devices
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
    EventTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: events
        AttributeDefinitions:
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: uuid
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5
